.avatar-img {
    transform: scale(1.9);
    margin-right: 1rem;
}

#city-header {
    font-size: 1.3rem !important;
}

.big-temp {
    height: 72px;
}
.big-temp h3 {
    font-size: 2.4rem !important;
}
.big-temp h3:not(:last-of-type) {
    margin-right: 1rem;
}
.big-temp span {
    font-size: 2rem;
}

.no-margin h2 {
    margin: 0;
}