<section class="initial" fxLayoutAlign="center end">
    <button mat-icon-button class="arrow-down" (click)="scrollTo(description)">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</section>

<section #description class="description" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly">
    <app-card fxFlex="1 1 50%">
        <h2>Select the location</h2>
        <img mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzSQhyd099G5Ox299AxkMJeFZk3PBQlvPRkg&usqp=CAU"
            alt="map">
        <p>Find any location in the map and click on it or use the search textbox to filter by city name, country or
            full address.</p>
    </app-card>
    <app-card fxFlex="1 1 50%">
        <h2>Weather Condition</h2>
        <img mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf6_4esULyk9J3r_YTzUn1JANOo8hN_7EIPg&usqp=CAU"
            alt="weather condition">
        <p>Current weather</p>
        <p>Hourly forecast (48 hrs)</p>
        <p>Daily forecast (7 days)</p>
    </app-card>
</section>

<footer class="footer" fxLayoutAlign="center end">
    <a href="https://github.com/darielmedr/angular-weather-leaflet-openweathermap" matTooltip="View source code on GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            focusable="false" width="1em" height="1em"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <g fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"
                    fill="white" />
            </g>
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
        </svg>
    </a>
</footer>